<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Study Abroad</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>


            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About Us</a>
              <ul class="dropdown-menu">
                  <a href="/about/who-we-are" class="dropdown-item">Who We Are</a>
                  <a href="/about/chairman" class="dropdown-item">Chairman Foreword</a>
                  <a href="/about/testimonial" class="dropdown-item">Testimonial</a>
                  <a href="/about/team" class="dropdown-item">S&A Team</a>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Program</a>
              <ul class="dropdown-menu">
                  <a href="/program/quebec-investor" class="dropdown-item">Quebec Immigrant Investor Program</a>
                  <a href="/program/portugal-passport" class="dropdown-item">Portugal Passport Program</a>
                  <a href="/program/express-entry" class="dropdown-item">Express Entry</a>
                  <a href="/program/provincial-nominee-program" class="dropdown-item">Provincial Nominee Program</a>
                  <a href="/program/usa-investor-program" class="dropdown-item">USA (EB-5) Investor Program</a>
                  <a href="/program/antigua-barbuda" class="dropdown-item">Antigua & Barbuda</a>
                  <a href="/program/student-visa" class="dropdown-item">Student Visa</a>
                  <a href="/program/temporary-residence-visa" class="dropdown-item">Temporary Residence Visa (TRV)</a>
                  <a href="/program/super-visa" class="dropdown-item">Super Visa</a>
              </ul>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/fee-structure">Fee Structure</a>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Online Assessment</a>
              <ul class="dropdown-menu">
                <a href="/assesment/quebec-investor-assesment" class="dropdown-item">Quebec Immigrant Investor Program</a>
                <a href="/assesment/portugal-passport-assesment" class="dropdown-item">Portugal Passport Program</a>
                <a href="/assesment/express-entry-assesment" class="dropdown-item">Express Entry</a>
                <a href="/assesment/provincial-nominee-program-assesment" class="dropdown-item">Provincial Nominee Program</a>
                <a href="/assesment/usa-investor-program-assesment" class="dropdown-item">USA (EB-5) Investor Program</a>
                <a href="/assesment/antigua-barbuda-assesment" class="dropdown-item">Antigua & Barbuda</a>
                <a href="/assesment/student-visa-assesment" class="dropdown-item">Student Visa</a>
                <a href="/assesment/temporary-residence-visa-assesment" class="dropdown-item">Temporary Residence Visa (TRV)</a>
                <a href="/assesment/super-visa-assesment" class="dropdown-item">Super Visa</a>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Career</a>
              <ul class="dropdown-menu">
                  <a href="/current-vacancies" class="dropdown-item">Current Vacancies</a>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>

            
          </ul>
        </div>
      </div>
    </nav>